.user-list {
  margin-left: 250px;
  padding: 20px;
  height: 80vh;
}

.add-btn {
  background: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background: #f4f4f4;
}

@media (max-width: 768px) {
  .user-list {
    margin-left: 100px;
  }
}
.buttons-container {
  display: flex;
  gap: 10px;
}
.user-list table {
  width: 100%;
  border-collapse: collapse;
}

.user-list table th,
.user-list table td {
  padding: 10px;
  text-align: left;
}

.user-list .pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

@media (max-width: 600px) {
  .user-list table,
  .user-list table th,
  .user-list table td {
    font-size: 14px;
  }
}
.buttons-container button {
  padding: 7px 20px;
  background: #3498db;
  color: white;
  outline: none;
  border: none;
}
.buttons-container button {
  padding: 7px 20px;
  background: #3498db;
  color: white;
  outline: none;
  border: none;
}
.buttons-container button:hover {
  background-color: bisque;
  color: black;
}
.dlt-btn {
  background-color: red;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
@media screen and (max-width: 799px) {
  .user-list {
    margin: 10px;
    margin-top: 50px;
    min-height: 100vh;
    padding: 0;
  }
}
